@import "reset";
@import "variable";
@import "mixin";
@import "header";
@import "main";
@import "footer";

body {
    font-family: sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 1140px;
    margin: auto;
    @include mobile {
        max-width: 510px;
    }
}

.pl-4{
    padding-left: 32px;
}

.pr-4{
    padding-right: 32px;
}

.border-left {
    border-left: 1px solid $text-color-secondary;
}

a {
    text-decoration: none;
}


